$primary_card_border_radius: 20px;
$primary_btn_color: #fff;
$primary_card_color: #f8f8f8;

@use "App";

.featured-container {
  text-align: start;
  margin: 4rem 0;

  .container-div {
    position: relative;
    p:nth-child(1) {
      color: #767676;
    }
    p:nth-child(2) {
      font-size: 30px;
    }
    .grid-display {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-auto-flow: row;
      row-gap: 20px;
      column-gap: 20px;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
      ::-webkit-scrollbar {
        scrollbar-width: none;
      }
      .featured-container {
        ::-webkit-scrollbar {
          width: 0;
          height: 0px;
        }
      }
      .first {
        border-radius: $primary_card_border_radius;
        grid-column: 1/4;
        grid-row: 1/3;
        background-color: #f8f8f8;
        overflow: hidden;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        .first-flex {
          display: flex;
          position: relative;
          .featured-image[data-image-src="feat"] {
            background-image: url("../assets/images/flood-victims.jpeg");
            border-top-left-radius: $primary_card_border_radius;
            border-bottom-left-radius: $primary_card_border_radius;
            @include App.devices(tablet) {
              border-bottom-left-radius: 0px;
            }
          }
          .featured-image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            background-size: cover;

            @include App.devices(tablet) {
              height: 400px;
            }
          }
          .first-details-outer {
            width: 50%;
            display: flex;
            justify-content: center;
            .first-details-inner {
              padding: 2.5rem 2.5rem 2.5rem;
              @include App.devices(tablet) {
                padding: 10px 20px !important;
              }
              p {
                text-align: start;
                display: block;
                color: black;
                font-size: 30px;
                @include App.devices(tablet) {
                  font-size: 17px;
                  color: #767676;
                }
              }
              .hide-text-mobile {
                font-size: 17px;
                color: #767676;
                text-align: start;
                @include App.devices(tablet) {
                  display: none;
                }
              }
              .btn {
                background-color: inherit;
                border: none;
                color: #333;
                display: inline-flex;
                font-size: 0.9rem;
                font-weight: bolder;
                line-height: 1.1;
                padding: 0.75rem 1rem 0.75rem 0;
                gap: 5px;
                transition: all ease 0.3s;
                margin-top: 4rem;
              }
            }
            @include App.devices(mobile) {
              width: 100%;
            }
          }
          @include App.devices(tablet) {
            display: block;
            .featured-image {
              width: 100%;
            }
            .first-details-outer {
              .first-details-inner > .btn {
                margin-top: 0rem;
              }
            }
          }
        }
        &:hover {
          cursor: pointer;
          .first-flex > .first-details-outer > .first-details-inner > button {
            border-radius: 10px;
            background-color: $primary_btn_color;
            cursor: pointer;
            padding: 0.75rem 1.5rem 0.75rem 1rem;
          }
        }
        .urgent {
          border: none;
          border-radius: $primary_card_border_radius;
          background-color: #f0eaf4;
          left: 1rem;
          position: absolute;
          top: 1rem;

          font-size: 13px;
          color: #3a2468;
          font-size: 0.875rem;
          font-weight: 900;

          padding: 0.35rem 0.35rem;
        }
      }

      .otherFeaturedPosts-outer {
        background-color: $primary_card_color;
        border-radius: $primary_card_border_radius;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        .otherFeaturedPosts-inner {
          .other-featured-image[data-image-src="one"] {
            background-image: url("../assets/images/fireVictims.jpeg");
            border-top-left-radius: $primary_card_border_radius;
            border-top-right-radius: $primary_card_border_radius;
          }
          .other-featured-image[data-image-src="two"] {
            background-image: url("../assets/images/orphans.jpeg");
            border-top-left-radius: $primary_card_border_radius;
            border-top-right-radius: $primary_card_border_radius;
          }
          .other-featured-image[data-image-src="three"] {
            background-image: url("../assets/images/warhero.png");
            border-top-left-radius: $primary_card_border_radius;
            border-top-right-radius: $primary_card_border_radius;
          }
          .other-featured-image {
            background-size: cover;
            height: 100px;
            padding-top: 1rem;
            padding-bottom: 4rem;
            @include App.devices(tablet) {
              height: 320px;
            }
          }
          .details {
            padding: 10px 20px;
          }
        }
        &:hover {
          cursor: pointer;
          .btn {
            border-radius: 10px;
            background-color: $primary_btn_color;
            padding: 0.75rem 1.5rem 0.75rem 1rem;
          }
        }
      }
      @include App.devices(tablet) {
        display: flex;
        justify-content: space-between;
        flex: none;

        // flex-flow: column nowrap;
        .x {
          width: 100%;
          height: 128px;
          flex-flow: row nowrap;
        }
        .mandatory-scroll-snapping {
          scroll-snap-type: x mandatory;
        }
      }
    }
  }
  .btn {
    background-color: inherit;
    border: none;
    color: #333;
    display: inline-flex;
    font-size: 0.9rem;
    font-weight: bolder;
    line-height: 1.1;
    padding: 0.75rem 1rem 0.75rem 0;
    gap: 5px;
    transition: all ease 0.3s;
    margin-top: 0.2rem;
    &:hover {
      cursor: pointer;
    }
  }
  .other-urgent {
    border: none;
    border-radius: $primary_card_border_radius;
    background-color: #f0eaf4;
    // padding: 3px 4px;
    font-size: 13px;
    color: #3a2468;
    font-size: 0.875rem;
    font-weight: 900;
    // min-height: 1.625rem;
    padding: 0.35rem 0.35rem;
    margin: 15px;
  }
  @include App.devices(tablet) {
    margin: -2rem 0;
  }
}
