@use "App";

.container {
  overflow: hidden;

  width: 100%;
  background-color: #f8f8f8;
  padding-top: 3rem;
  .flex-container {
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 4rem 0;
    // column-gap: 50px;
    .flex-desc {
      // background-color: rgba(255, 255, 255, 0.8);`
      // border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px 0px;
      font-size: 30px;
      text-align: start;
      display: block;
      line-height: 2em;
      width: 50%;
      margin: auto;
      @include App.devices(tablet) {
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
      .place-you {
        width: 310px;
        margin: auto;
        display: contents;
        .green-line {
          height: 5px;
          width: 100px;
          background-color: #02a95c;
          @include App.devices(tablet) {
            margin: -2rem auto 2rem;
          }
        }
        .start-fund-button {
          // width: 150px;
          background-color: #02a95c;
          color: #fff;
          font-size: 18px;
          border: 1px solid #02a95c;
          border-radius: 30px;
          padding: 10px 15px;
          font-weight: bold;
          letter-spacing: 0.02em;
          display: flex;
          gap: 3px;
          margin-top: 3rem;
          &:hover {
            cursor: pointer;
          }
          .go-icon {
            width: 30px;
            // margin-top: 10px;
          }
          .start-btn {
            margin-top: 5px;
          }
          @include App.devices(tablet) {
            display: inline-flex;
          }
        }
      }
    }
    .flex-image {
      display: flex;
      justify-content: end;
      width: 50%;
      .hero-img {
        position: absolute;
        border-radius: 30px;
        object-fit: cover;
        width: 44%;
        height: 480px;
        @include App.devices(tablet) {
          object-fit: cover;
          height: 300px;
          margin: auto;
          position: relative;
          right: 0;
          width: 100%;
        }
      }
      @include App.devices(tablet) {
        width: 100%;
      }
    }
    @include App.devices(tablet) {
      display: block;
      padding: 0px;
    }
  }
  @include App.devices(tablet) {
    background-color: #fff;
  }
}

.slogan-flexes {
  display: block;
  margin-top: -3rem;
}
.slogan-flex {
  display: inline-grid;
}
