@use "App";

.kickstart-outer {
  background-color: #f8f8f8;
  text-align: start;
  font-weight: 900;
  margin: 4rem auto;
  border-radius: 20px;
}

.kickstart-inner {
  margin: 10px 0 10px 10px;
  display: flex;
  min-height: 26.625rem;
  @include App.devices(tabmob) {
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 0;
  }
}

.kickstart-text-btn {
  -webkit-flex: 3 1;
  -ms-flex: 3 1;
  flex: 3 1;
  padding-left: 2.5rem;
  display: block;
  align-self: center;
  justify-self: center;
  max-width: 600px;
  @include App.devices(tabmob) {
    max-width: 90%;
    padding-left: 0;
  }
}

.kickstart-side-image {
  // width: 40%;
  // flex: 2;
  object-fit: contain;
  // background-position: 50%;
  // background-image: url("../images/greenMap.png");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 1rem;
  .flower-image {
    height: 400px;
  }
  @include App.devices(tabmob) {
    display: flex;
    justify-content: center;
    margin-left: 0;
    .flower-image {
      height: 250px;
    }
  }
}
.big-title {
  font-size: 2.5rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  @include App.devices(tabmob) {
    text-align: center;
  }
}

.btn-contain {
  display: flex;
  gap: 20px;
  @include App.devices(tabmob) {
    display: block;
  }
}
.start-fund-btn {
  font-size: 18px;
  border-radius: 30px;
  padding: 15px 15px;
  font-weight: bold;
  letter-spacing: 0.02em;
  display: flex;
  gap: 3px;
  margin-top: 3rem;
  width: 200px;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.tablet-btn-full {
  @include App.devices(tabmob) {
    width: 100%;
  }
}

.tablet-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet-btn {
  @include App.devices(tabmob) {
    margin-top: 1rem;
    border: none;
    background-color: #f8f8f8;
    font-size: 14px;
  }
}

.tablet-btn-icon {
  display: none;
  @include App.devices(tabmob) {
    display: block;
  }
}
