@font-face {
  font-family: "myHeaderFont";
  src: url(./fonts/CircularStd-Bold.woff) format("woff");
}

@mixin devices($breakpoint) {
  //the name of the mixin is devices

  @if $breakpoint == desktop {
    @media only screen and (max-width: 1189px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}

.App {
  text-align: center;
  font-family: "MyHeaderFont";
  // margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-div {
  width: 78%;
  margin: auto;
  @include devices(desktop) {
    width: 90%;
  }
  @include devices(tablet) {
    width: 95%;
  }
}
